<!DOCTYPE html>
<html lang="en">

<head class="crypt-dark">
    <meta charset="UTF-8">
    <title>Crypterio</title>
    <link rel="stylesheet" href="/stockex/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stockex/static/css/style.css">
    <link rel="stylesheet" href="/stockex/static/css/icons.css">
    <link rel="stylesheet" href="/stockex/static/css/ui.css">
</head>

<body class="crypt-dark">
    
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="cryptorio-forms cryptorio-forms-dark text-center pt-5 pb-5">
                    <div class="logo">
                        <img src="images/logo.png" alt="logo-image">
                    </div>
                    <h3 class="p-4">Register</h3>
                    <div class="cryptorio-main-form">
                        <form action="" class="text-left">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" placeholder="Your email/cellphone">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="6-20 letters and numbers">
                            <label for="confirm-password">Confirm Password</label>
                            <input type="password" id="confirm-password" name="password" placeholder="6-20 letters and numbers">
                            <div class="my-1">
                              <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="terms-agree">
                                <label class="custom-control-label" for="terms-agree">I agree to the terms of services</label>
                              </div>
                            </div>
                            <input type="submit" value="SignUp" class="crypt-button-red-full">
                        </form>
                        <p class="float-left"><a href="login.html">Log In</a></p>
                        <p class="float-right"><a href="forgot.html">Recover Password</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

	<script src="/stockex/static/amc/core.js"></script>
	<script src="/stockex/static/amc/charts.js"></script>
	<script src="/stockex/static/amc/dark.js"></script>
	<script src="/stockex/static/amc/animated.js"></script>
	<script src="/stockex/static/js/jquery.js"></script>
	<script src="/stockex/static/js/popper.min.js"></script>
	<script src="/stockex/static/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="/stockex/static/bootstrap/js/bootstrap.js"></script>
	<script src="/stockex/static/js/main.js"></script>
	<script src="/stockex/static/js/amc.js"></script>
	<script src="https://s3.tradingview.com/tv.js"></script>
</body>
</html>